* {
	margin: 0px;
	padding: 0px;
	font-family: Viga;
}

body {
	
	background: rgb(158, 189, 230);
	height: 637px;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: rgba(238, 234, 234, 0.4);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px;
}

.main h2 {
	text-align: center;
	color: rgb(6, 109, 156);
	text-transform: uppercase;
}

.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	background: #80c4e9;
	color: rgb(12, 12, 12);
	border-radius: 25px;
	border: 2px solid rgb(127, 147, 212);
	
}

.btn-green {
	background:rgb(105, 150, 218);
	color:#111111;
}

.textarea {
	width: 204px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #0a0a0a;
	border-radius: 25px;
	text-align: right;
}